<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta neme="viewport" content="width=device-width, initial-scale=1">
        <title>GD match</title>
        <link rel="stylesheet" href="../../assets/stylesheets/html5reset-1.6.1.css">
        <link rel="stylesheet" href="../../assets/stylesheets/tweets.scss">

    </head>


    <body>

        <div align="center">
            <h2>この投稿にいいねしたユーザー</h2>
            <% @tweet.liked_users.each do |user| %>
            <li>
                <%= link_to "/users/#{user.id}" do %>
                <%= user.name %>
                <% end %>
            </li><br>
            <% end %>
        </div>

    </body>

</html>